[submodule "MAVSDK-Python"]
	path = dependencies/MAVSDK-Python
	url = https://github.com/mavlink/MAVSDK-Python.git

[submodule "MAVLINK"]
	path = dependencies/mavlink-router
	url = https://github.com/mavlink/mavlink.git