argparse
asyncio
asyncqt
asyncslot
autopep8
cerberus
customtkinter
easydict
geocoder
gpxpy
grpcio-tools
imutils
jaraco.collections
jsonschema
kconfiglib
kornia
mavsdk
numpydoc
opencv-contrib-python
pip-chill
pkgconfig
protoc-gen-mavsdk
pydub
pyinstaller
pymavlink
pyperclip
pyqt5-tools
pyqt6
pyqtwebengine
pyros-genmsg
pyserial
pyshine
pyside2
pytest-repeat
pytest-rerunfailures
pyulog
s3cmd
serial
shapely
toml
torchvision
tqdm
