adbc-driver-postgresql==1.2.0
adbc-driver-sqlite==1.2.0
aioconsole==0.7.1
albumentations==1.3.1
asyncqt==0.8.0
boto3==1.35.26
bottleneck==1.4.0
colorama==0.4.6
configparser==7.1.0
customtkinter==5.2.2
data-gradients==0.3.2
dataframe-api-compat==0.2.7
deprecated==1.2.14
easydict==1.13
einops==0.3.2
empy==3.3.4
fastparquet==2024.5.0
gcsfs==2024.9.0.post1
geocoder==1.38.1
geopandas==0.14.3
grpcio-status==1.48.2
hypothesis==6.112.0
importlib-metadata==8.0.0
imutils==0.5.4
jaraco.collections==5.1.0
json-tricks==3.16.1
lapx==0.5.10.post1
mavsdk==2.8.3
meson==1.4.1
mss==9.0.2
numba==0.60.0
numpy==1.26.4
odfpy==1.4.1
onnxruntime==1.15.0
onnxsim==0.4.36
opencv-contrib-python==4.10.0.84
opencv-contrib-python-headless==4.10.0.84
openpyxl==3.1.5
pandas-gbq==0.23.1
pip-chill==1.0.3
pip-tools==7.4.1
pipreqs==0.5.0
proto-plus==1.24.0
psycopg2==2.9.9
pygame==2.6.0
pymysql==1.1.1
pyperclip==1.8.2
pyqt6-qt6==6.7.2
pyqt6-sip==13.8.0
pyqtwebengine==5.15.6
pyreadstat==1.2.7
pyrealsense2==2.55.1.6486
pyros-genmsg==0.5.8
pyshine==0.0.9
pyside6==6.7.0
pytest-xdist==3.6.1
python-calamine==0.2.3
pyxlsb==1.0.10
qtpy==2.4.1
s3fs==2024.9.0
sphinx-rtd-theme==1.3.0
sqlalchemy==2.0.34
stringcase==1.2.0
tables==3.10.1
tabulate==0.9.0
termcolor==1.1.0
thop==0.1.1.post2209072238
torchmetrics==0.8.0
treelib==1.6.1
ultralytics==8.2.79
xarray==2024.7.0
xlrd==2.0.1
xlsxwriter==3.2.0
zstandard==0.23.0
